@model GardenApp.Models.Plan

@{
    ViewData["Title"] = "DeletePlan";
}

<h3>Plan deleted successfully</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostPerSqft)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerSqft)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpectedDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpectedDuration)
        </dd>
    </dl>
    
        <a asp-action="PlanDetails">Back to List</a>
</div>
